@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: 0.5s;
}

.sci {
    position: relative;
    display: flex;

    li {
        list-style: none;

        &::before {
            content: attr(data-text);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, calc(-50% + 120px));
            font-size: 14vw;
            pointer-events: none;
            font-weight: 700;
            transition: 0.5s;
            opacity: 0;          
        }

        &:hover::before {
            opacity: 0.1;
            transform: translate(-50%, calc(-50% + 150px));
        }
    }



    li a {
        // to create blocks and style them
        position: relative;
        display: inline-block;
        width: 120px;
        height: 120px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #333;
        border-radius: 10px;
        text-decoration: none;
        margin: 20px;
        font-size: 4em;
        transform-style: preserve-3d;
        perspective: 500px;
        box-shadow: 0 25px 35px rgba(0,0,0,0.1);
        transition: background 0.25s;
        
        &:hover {
            // add color when you hover
            &.youtube {
                background: #ff0000;
            }
            &.facebook {
                background: #1877f2;
            }
            &.twitter {
                background: #00acee;
            }
            &.instagram {
                background: #e4405f;
            }
            &.linkedin {
                background: #2991c2;
            }
        }
        
        // to make the logos change color
        &.fab {
            transition: 0.25s;
            pointer-events: none;
        }
        &:hover .fab {
            color: rgb(53, 51, 51);
        }

    }
}

// declared from vanilla-tilt package
.js-tilt-glare {
    border-radius: 10px;
}